/* Add your own styles here. Use of this file should be minimized at all costs. However, if you feel the need to
    declare your own CSS classes for a small padding fix or whatnot, this is the purpose of this file. You may be
    tempted to go all out with the styling of your website. We encourage you not to spend the time styling the pages
    for this class, and to spend that time on styling of your own personal webpage or side project.
 */

.div-inline {
	display: inline-block;
}

.my-dropdown {
	line-height: 1;
    margin: 0 auto;
    text-align: center;
}

.fa-disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.fa-inline {
    vertical-align: baseline;
}

.center-modal-body{
    text-align: center;
}

.button-group{
    height: 3em;
}

.button-label{
    flex-direction: column;
    font-size: 80%;
}
.form1 {
  /* This bit sets up the horizontal layout */
  display:flex;
  flex-direction:row;
  /* I've used padding so you can see the edges of the elements. */
  padding:2px;
}

.input1 {
  /* Tell the input to use all the available space */
  flex-grow:2;
  /* And hide the input's outline, so the form looks like the outline */
  border:none;
}

.input1:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
}

.button1 {
  /* Just a little styling to make it pretty */
  background:black;
  padding:2px;
  margin-right: .025em;
  color:white;
  font-size: 10%;
}
